* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    font-size: 1px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: black;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0px 5px;
}

main{
    padding: 0px 5%;
}
.adobe {
    width: 100%;
    max-width: 425px;
    align-self: center;
}

.port {
    width: 100%;
    max-width: 425px;
    align-self: center;
}

h1 {
    font-size: 50px;
    font-style: bold;
    color: black;
    text-align: center;
    
} 

h2 {
    font-size: 20px;
    font-style: bold;
    color: black;
    text-align: left;
} 

p {
    text-align: justify;
}

@media only screen and (min-width: 768px) {
    main {
        padding: 0px 5%;
    }

    h1 {
        font-size: 50px;
        font-style: bold;
        color: black;
        text-align: center;
    } 

    h2 {
        font-size: 20px;
        font-style: bold;
        color: black;
        text-align: left;
    } 
    .port {
        width: 100%;
        max-width: 425px;
        display: flex;
        -ms-flex-item-align: auto;
    }

    p {
        text-align: justify;
    }
    
    .adobe {
        width: 100%;
        max-width: 425px;
        align-self: center;
    }

}


footer {
    background-color: black;
    padding: 10px 5%;
    color: whitesmoke;
    text-align: left;
}