header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: grey;
}

.logo img {
    margin-right: auto;
}

main {
    background-color: blue;
}

footer {
    background-color: grey;
}