* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    font-size: 1px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #121212;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0px 5px;
}

main {
    background-image: url('ab.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100% 5%;
}


h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: bold;
    color: #121212;
    position: fixed;
    bottom: 500px;
    left: 5%;
} 

h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: bold;
    color: #121212;
    position: fixed;
    bottom: 50px;
    left: 5%;
} 

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: bold;
    color: #121212;
    position: fixed;
    bottom: 200px;
    left: 5%;
    border: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
    background-color: #FBFBF4;
}

button:hover {
    background-color: #121212;
    color: #FBFBF4;
  }

@media only screen and (min-width: 768px) {
main {
    background-image: url('ab.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100% 5%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: bold;
    color: #121212;
    position: fixed;
    bottom: 550px;
    left: 5%;
} 

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: bold;
    color: #121212;
    position: fixed;
    bottom: 50px;
    left: 5%;
} 

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: bold;
    color: #121212;
    position: fixed;
    bottom: 200px;
    left: 5%;
    border: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
    background-color: #FBFBF4;
}

button:hover {
    background-color: #121212;
    color: #FBFBF4;
  }


}

@media only screen and (min-width: 1024px) {
    main {
        background-image: url('ab.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 100% 5%;
    }

    h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: bold;
    color: #121212;
    position: fixed;
    bottom: 550px;
    left: 5%;
} 

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: bold;
    color: #121212;
    position: fixed;
    bottom: 50px;
    left: 5%;
} 

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: bold;
    color: #121212;
    position: fixed;
    bottom: 200px;
    left: 5%;
    border: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
    background-color: #FBFBF4;
}

button:hover {
    background-color: #121212;
    color:#FBFBF4;
  }


}
@media only screen and (min-width: 1440px) {
    main {
        background-image: url('ab.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 100% 5%;
    }

    h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: bold;
    color: #121212;
    position: fixed;
    bottom: 550px;
    left: 5%;
    display: flex;
    
} 

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: bold;
    color: #121212;
    position: fixed;
    bottom: 50px;
    left: 5%;
} 

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: bold;
    color: #121212;
    position: fixed;
    bottom: 200px;
    left: 5%;
    border: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
    background-color: #FBFBF4;
}

button:hover {
    background-color: #121212;
    color: #FBFBF4;
  }


}

footer {
    background-color: #121212;
    padding: 10px 5%;
    color: #FBFBF4;
    text-align: left;
}