* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    font-size: 1px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: black;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0px 5px;
}

main {
    background-image: url('abmobil.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100% 5%;
}


h1 {
    font-size: 50px;
    font-style: bold;
    color: whitesmoke;
    position: fixed;
    bottom: 500px;
    left: 5%;
} 

h2 {
    font-size: 40px;
    font-style: bold;
    color: whitesmoke;
    position: fixed;
    bottom: 50px;
    left: 5%;
} 

button {
    font-size: 30px;
    font-style: bold;
    color: wheat;
    position: fixed;
    bottom: 300px;
    left: 20%;
    border: none;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
    background-color: red;
}

button:hover {
    background-color: black;
    color: whitesmoke;
  }

@media only screen and (min-width: 768px) {
main {
    background-image: url('abtablet.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 327px 5%;
}
}

@media only screen and (min-width: 1024px) {
    main {
        background-image: url('abbag.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 327px 5%;
    }
    }

footer {
    background-color: black;
    padding: 10px 5%;
    color: whitesmoke;
    text-align: left;
}