* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    font-size: 1px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: black;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0px 5px;
}

footer {
    background-color: black;
    padding: 10px 5%;
    color: whitesmoke;
    text-align: left;
}