* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    font-size: 1px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: black;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0px 5px;
}

main {
    padding: 0 5%;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 5%;
}

.container1 div {
    border: 0px;
    padding: 5% 5%;
}

.box1 {
    flex: 1;   
}

.box2 {
    padding: 0 5%;
    flex: 1;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 5%;
}

.container2 div {
    border: 0px;
    padding: 5% 5%;
}

.box3 {
    flex: 1;   
}

.box4 {
    padding: 0 5%;
    flex: 1;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 5%;
}

.container3 div {
    border: 0px;
    padding: 5% 5%;
}

.box5 {
    flex: 1;   
}

.box6 {
    padding: 0 5%;
    flex: 1;
}

.container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 5%;
}

.container4 div {
    border: 0px;
    padding: 5% 5%;
}

.box7 {
    flex: 1;   
}

.box8 {
    padding: 0 5%;
    flex: 1;
}

.container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 5%;
}

.container5 div {
    border: 0px;
    padding: 5% 5%;
}

.box9 {
    flex: 1;   
}

.box10 {
    padding: 0 5%;
    flex: 1;
}

.container6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 5%;
}

.container6 div {
    border: 0px;
    padding: 5% 5%;
}

.box11 {
    flex: 1;   
}

.box12 {
    padding: 0 5%;
    flex: 1;
}

img {
    width: 100%;
    max-width: 425;
}

img:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;  
}

p {
    text-align: justify;
}

hr {
    margin: 5%;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

@media only screen and (min-width: 768px) {
    main {
        padding: 0 5%;
    }
    
    .container1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0% 5%;
    }
    
    .container1 div {
        border: 0px;
        padding: 5% 5%;
    }
    
    .box1 {
        flex: 1;   
    }
    
    .box2 {
        padding: 0 5%;
        flex: 1;
    }

    .container2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0% 5%;
    }
    
    .container2 div {
        border: 0px;
        padding: 5% 5%;
    }
    
    .box3 {
        flex: 1;   
    }
    
    .box4 {
        padding: 0 5%;
        flex: 1;
    }

    .container3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0% 5%;
    }
    
    .container3 div {
        border: 0px;
        padding: 5% 5%;
    }
    
    .box5 {
        flex: 1;   
    }
    
    .box6 {
        padding: 0 5%;
        flex: 1;
    }

    .container4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0% 5%;
    }
    
    .container4 div {
        border: 0px;
        padding: 5% 5%;
    }
    
    .box7 {
        flex: 1;   
    }
    
    .box8 {
        padding: 0 5%;
        flex: 1;
    }
    
    .container5 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0% 5%;
    }
    
    .container5 div {
        border: 0px;
        padding: 5% 5%;
    }
    
    .box9 {
        flex: 1;   
    }
    
    .box10 {
        padding: 0 5%;
        flex: 1;
    }

    .container6 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0% 5%;
    }
    
    .container6 div {
        border: 0px;
        padding: 5% 5%;
    }
    
    .box11 {
        flex: 1;   
    }
    
    .box12 {
        padding: 0 5%;
        flex: 1;
    }

    img {
        width: 100%;
        max-width: 425;
    }
    
    img:hover{
        cursor: pointer;
        opacity: 0.5;
        transition: 0.5s;  
    }
    
    p {
        text-align: justify;
    }
    
    hr {
        margin: 5%;
    }

    h2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
    }
}

footer {
    background-color: black;
    padding: 10px 5%;
    color: whitesmoke;
    text-align: left;
}